version: "3.8"

services:
  api:
    image: python:3.10
    container_name: fastapi_app
    working_dir: /app
    volumes:
      - ./app:/app
      - ./logs:/logs
    command: bash -c "pip install -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"

